background_color #282828
custom_background_color #282828
custom_text_color #EBDBB2

status_bar_color #282828
status_bar_text_color #98971A

page_separator_color #928374
ui_text_color #EBDBB2
ui_selected_text_color #282828
ui_background_color #928374
ui_selected_background_color #A89984

text_highlight_color #D79921
search_highlight_color #689D6A

visual_mark_color #9283745B
link_highlight_color #458588
synctex_highlight_color #CC241D
