background_color {background}
custom_background_color {background}
custom_text_color {foreground}

status_bar_color {color0}
status_bar_text_color {color2}

page_separator_color {color8}
ui_text_color {foreground}
ui_selected_text_color {color0}
ui_background_color {color8}
ui_selected_background_color {color7}

text_highlight_color {color3}
search_highlight_color {color6}

visual_mark_color {color8}5B
link_highlight_color {color4}
synctex_highlight_color {color1}
